* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* 링크 속성 글자 밑줄 없앰 */
    color: inherit;
}

li {
    list-style: none; /* 항목 태그 블릿 아이콘 장식 없앰 */
}

img {
    display: block; /* inline 속성을 지니고 있는 img 태그의 오차 간격을 없애기 위한 속성 변경 */
    border: none; /* img 태그의 모든 테두리선은 없음으로 초기화  */
}

body {
/*    font-family: 'Verdana'; !* 글꼴 *!*/
    font-size: 16px; /* 글자 크기 */
/*    color: black; !* 글자 색상 *!*/
/*    line-height: 28px; !* 줄 간격 *!*/
}

.board_list_wrap {

}

.board_list {
    width: 100%;
}

.board_list th,
.board_list td {
    border: 1px solid #999;
}
.board_list td {
    text-align: center;
}

/* 테이블 칸 과 칸사이 줄 간격 제거*/
table {
    border-collapse: collapse;
}

caption {
    display: none;
}
tbody > tr > td:nth-child(3){
    background-color: rgba(108, 239, 93, 0.36);
    text-align: left;
}
tbody {
    font-size: 18pt;
}