
/*                                 section3, section4, section5                        */
.section4{
    margin-top: 150px;
}
.nav-button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* 타원형 모양을 만들기 위해 */
    margin: 5px;
    margin-top: 20px;
    background-color: #f8f8f8; /* 배경색을 설정 */
    cursor: pointer; /* 마우스를 올렸을 때 커서 모양 변경 */
}
.parent-div { /* 부모 div 스타일 */
    position: relative; /* 상대 위치로 설정 */
    display: flex; /* Flexbox 레이아웃을 사용 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    touch-action: pan-y; /* 세로 방향으로만 스크롤 가능 */
    z-index: 1; /* z-index를 1로 설정 */
    margin-right: auto; /* 오른쪽 여백을 자동으로 설정 */
    margin-left: auto; /* 가운데 정렬 */
    padding: 0; /* 내부 여백을 0으로 설정 */
    list-style: none; /* 목록의 기본 스타일을 제거 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    flex-wrap: wrap; /* Flexbox 요소가 여러 줄로 나뉘도록 설정 */
}

.child-div {
    display: flex; /* Flexbox 레이아웃을 사용 */
    flex-direction: column; /* 행 방향으로 정렬 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    margin: 15px; /* 외부 여백 추가 */
}
.child-div a { /* 링크 스타일 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}
.child-div a img { /* 이미지 스타일 */
    width: 175px; /* 이미지 너비를 175px로 설정 */
    height: auto; /* 이미지 높이를 원래 비율에 맞게 설정 */
}
.section5 .parent-div { /* 부모 div 스타일 */
    display: flex; /* Flexbox 레이아웃을 사용 */
}
.section5 .child-div { /* 자식 div 스타일 */
    flex: 1; 
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}
.section5 .child-div h3 {
    margin-bottom: 10px; /* 제목과 목록 사이의 간격을 10px로 설정 */
}
.section5 .child-div ul { /* 목록 스타일 */
    list-style-type: none; /* 목록의 기본 스타일을 제거 */
    padding: 0; /* 내부 여백을 0으로 설정 */
    margin-top: -10px; /* 목록의 위쪽 여백을 -10px로 설정하여 위쪽으로 이동 */
}
.section5 .child-div a img { /* 이미지 스타일 */
    max-width: 370px; /* 이미지 최대 너비를 370px로 설정 */
    max-height: 247px; /* 이미지 최대 높이를 247px로 설정 */
    margin-left: -30px; /* 이미지 왼쪽 여백을 -10px로 설정하여 왼쪽으로 이동 */
    width: 100%; /* 이미지 너비를 div의 너비에 맞게 설정 */
    height: auto; /* 이미지 높이를 원래 비율에 맞게 설정 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}
.section5 .child-div a .arrow-left, .section5 .child-div a .arrow-right {
    width: 30px; /* 화살표 이미지 너비를 30px로 설정 */
    height: auto; /* 화살표 이미지 높이를 원래 비율에 맞게 설정 */
    position: absolute; /* 화살표 이미지 위치를 절대 위치로 설정 */
    top: 50%; /* 화살표 이미지를 상하 중앙에 위치 */
    transform: translateY(-50%); /* 화살표 이미지를 상하 중앙에 위치 */
    opacity: 0; /* 화살표 이미지를 기본적으로 보이지 않게 설정 */
    transition: opacity 0.3s; /* 화살표 이미지의 투명도를 0.3초 동안 변화 */
}

.section5 .child-div a .arrow-left {
    left: -10px; /* 왼쪽 화살표 이미지를 왼쪽으로 40px 이동 */
    transform: rotate(180deg) translateY(-50%); /* 왼쪽 화살표 이미지를 왼쪽으로 바라보게 회전 */
}

.section5 .child-div a .arrow-right {
    right: -10px; /* 오른쪽 화살표 이미지를 오른쪽으로 30px 이동 */
    
}

.section5 .child-div:hover .arrow-left, .section5 .child-div:hover .arrow-right {
    opacity: 1; /* 커서가 child-div 위에 있을 때 화살표 이미지를 보이게 설정 */
}

.section5 .child-div {
    position: relative; /* child-div를 화살표 이미지의 위치를 기준으로 설정 */
}
.section5 .child-div a p {
    margin-left: 30px; /* p 태그의 왼쪽 마진을 10px로 설정하여 오른쪽으로 이동 */
}
#parent-info{
    margin-top: 30px;
}

.content { /* 내용 스타일 */
    display: flex;/* Flexbox 레이아웃을 사용 */
    text-decoration: none; /* 텍스트에 밑줄을 제거 */
    color: inherit; /* 부모 요소의 색상을 상속 */
    width: 100%; /* 너비를 100%로 설정 */
    
}

.image-div {
    /* 이미지 div 스타일 */
    width: 512px;
    height: 614px;
    object-fit: cover;
}
.img1 { /* 이미지 스타일 */
    width: 512px; /* 이미지 div의 너비를 512px로 설정 */
    height: 614px; /* 이미지 div의 높이를 614px로 설정 */
    object-fit: cover; /* 이미지를 div에 맞게 조정 */
}

.info-div {
    /* 정보 div 스타일 */
    box-sizing: border-box; /* 요소의 너비와 높이에 padding과 border를 포함 */
    width: 568px; /* 정보 div의 너비를 568px로 설정 */
    padding: 73px 60px 0; /* 상단 내부 여백 추가 */
    line-height: 3.5; /* 줄 간격을 3.5로 설정 */
    margin-right: 50px; /* 오른쪽 외부 여백 추가 */
    margin-left: 20px; /* 왼쪽 외부 여백 추가 */
}
.brand { /* 브랜드 스타일 */
    color: gray; /* 회색으로 표시 */
    font-size: 0.9em; /* 글꼴 크기를 0.9em으로 설정 */
}

.product-name { /* 제품 이름 스타일 */
    color: black; /* 검은색으로 표시 */
    font-size: 22.5px; /* 글꼴 크기를 22.5px로 설정 */
    font-weight: bold; /* 글꼴을 굵게 설정 */
}

.original-price { /* 원래 가격 스타일 */
    color: lightgray; /* 연한 회색으로 표시 */
}

.discounted-price { /* 할인 가격 스타일 */
    color: black; /* 검은색으로 표시 */
    font-size: 1.3em; /* 글꼴 크기를 1.3em으로 설정 */
}
.price-container { /* 가격 컨테이너 스타일 */
    display: flex; /* Flexbox 레이아웃을 사용 */
}

.discount-rate { /* 할인율 스타일 */
    color: red; /* 빨간색으로 표시 */
    margin-left: 13px; /* 왼쪽 외부 여백 추가 */
    font-size: 1.3em; /* 글꼴 크기를 1.3em으로 설정 */
}

.go-to-product { /* 제품으로 이동 스타일 */
    border: 2px solid black; /* 테두리를 검은색으로 설정 */
    padding: 20px; /* 내부 여백 추가 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    display: flex; /* Flexbox 레이아웃을 사용 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}
.arrow { /* 화살표 스타일 */
    position: absolute; /* 절대 위치로 설정 */
    top: 50%; /* 상단 여백을 50%로 설정 */
    width: 50px; /* 너비를 50px로 설정 */
    height: 50px; /* 높이를 50px로 설정 */
    /*background: url('banner/arrow.png') no-repeat center center; /* 화살표 이미지를 사용 */
    background-size: contain; /* 이미지 크기를 조정 */
    opacity: 0; /* 기본적으로 화살표를 투명하게 함 */
    transition: opacity 0.3s; /* 투명도 변경에 애니메이션 효과를 줌 */
}
.parent-div:hover .arrow { /* 부모 div에 마우스 커서가 올라갔을 때 */
    opacity: 1; /* 마우스 커서가 parent-div 위에 있을 때만 화살표를 보이게 함 */
}

.left-arrow { /* 왼쪽 화살표 스타일 */
    left: 0; /* 왼쪽 위치를 0으로 설정 */
    transform: rotate(180deg); /* 왼쪽 화살표를 위해 화살표 이미지를 180도 회전 */
}

.right-arrow { /* 오른쪽 화살표 스타일 */
    right: 0; /* 오른쪽 위치를 0으로 설정 */
}

.named {
    font-size: 14px;
} 
.price {
    font-size: 12px
}